* {
    margin: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif
}
h1 { 
    text-align: center;
    color: sandybrown;
}

h2 {
    color: sandybrown;
}
img { 
    float: left;
    width: 250px;
    height: 400px;
}

.about-me {
    background-color: azure;
}


#wrapper {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 310px 310px 250px;
    
}

.Academic-History {
    grid-column:1;
    grid-row: 1;
    
}

h3 { color: sandybrown;
}

.Work-Experience {
    grid-column: 2;
    grid-row: 1;
}

.Projects {
    grid-column: 1;
    grid-row: 2;
}

h4 {
    color: sandybrown;
}
.Extra {
    grid-column: 2;
    grid-row:2;
    
}

.Language-skills {
    grid-column: 1;
    grid-row:3;
    
}

.Technical-skills { 
    grid-column: 2;
    grid-row: 3;
}

#Reference {
    text-align: center;
    color: sandybrown;
}
