* {
    margin: 0 0 0 0;
    font-family: serif;
  }
  
  h1 {
    text-align: center;
    box-sizing: border-box;
    background-color: #525564;
    color: white;
    margin:0;
    padding:0;
  }
  
  h2 {
    text-align: center;
    color: black; 
    background-color: #C25B56;
    color: #FEF6EB;
    margin: 0 0 20px 0;
  }
  
  img {
   width: 80%;
  
  }
  
  p {
    font-size: 15px;
  }
  
  section {
    text-align: center;
  }
  
  .grid-item:hover {
    background-color: lightsteelblue; 
  }
  
  #grid-floats li:nth-of-type(12), li:nth-of-type(13), li:nth-of-type(14) {
    margin-bottom: 20px;
  }
  
  #grid-flex li:nth-of-type(12), li:nth-of-type(13), li:nth-of-type(14) {
    margin-bottom: 20px;
  }
    
  /* grid with grids */
  
  #grid-floats {
    text-align: center;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding-right: 60px;
  }
  
  #grid-floats .grid-item {
    text-align: center;
    height: 200px;  
    margin: 10px 0 0 10px;
    padding: 10px 0 0 10px;
    border-color: black;
    border-radius: 20px;
    border: 1px solid black;
    overflow: scroll;
  }
  
  #grid-floats li:nth-of-type(1) {
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  
    /* grids with flex */
  
  #grid-flex {
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 10px;
  }
  
  
  #grid-flex .grid-item {
    height: 200px;  
    margin: 10px 0 0 10px;
    padding: 10px 0 0 10px;
    overflow: scroll;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  
  #grid-flex li:nth-of-type(1) {
   width: 640px; 
  }
  
  #grid-flex li:nth-of-type(1) img {
   width: 60%
  }
  
  
  /* animation */
  img {
    animation-duration: 5s;
    animation-name: slide;
  }
  
  @keyframes slide {
    from {
      margin-left: 100%;
      width: 200%;
    }
  
    to {
      margin-left: 0%;
      width: 50%;    
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {
      html {
          width: fit-content;
      }
  }
  
  
  /* for tablet */
  @media (min-width: 768px) and (max-width: 1024px){
    
    html {
        font-size: 20px;
         margin: 0;
         padding: 0;
         width:fit-content;
    }   
  
    p {
        font-size: 20px;
    }
    
    #grid-floats {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        row-gap: 10px;
    }
  
    #grid-floats li:nth-child(1),#grid-floats li:nth-child(2) {
      grid-column: span 3;
    }

     #grid-floats li:nth-child(n+3) {   
      grid-column: span 2;
     } 
   
    #grid-floats .grid-item {
        width: 200px; 
        height: 200px; 
    }
  
    #grid-floats li:nth-of-type(1) {
        width: 305px;
    }
  
    #grid-floats li:nth-of-type(2) {
        width: 305px;  
    }
  
    #grid-floats li:nth-of-type(1) img{
          width: 290px;
    }
    
    #grid-flex .grid-item {
        width: 200px;
        height: 200px; 
    }  
  
    img {
        width: 200px;
    }     
  
    #grid-flex li:first-child {
        width: 320px;
    }
  
    #grid-flex li:nth-of-type(2) {
        width: 320px;
    }
  
    #grid-flex li:first-child img {
        width: 290px;
    }
  
    #grid-flex li:nth-of-type(2) img {
        width: 290px;
    } 
  } 
  
  /* for mobile  */
  @media (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 15px;
    }
    
    img {
        width: 100%; 
    }
    
    #grid-floats .grid-item {
        height: 150px;
    } 
  
    #grid-floats {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
    #grid-floats li:nth-child(1) {
      grid-column: span 2;
    }
  
    #grid-floats li:nth-child(n+3) {
      grid-column: span 1;
    }
  
    #grid-floats li:first-child img {
        width: 200px;
    }
  
    #grid-flex .grid-item {
        width: 130px;
        height: 150px;
    } 
    
    #grid-flex li:first-child {
        width: 300px;
        font-size: 15px;
    }
  
    #grid-flex li:first-child img {
         width: 200px;
    } 
  
  }
